body {
    font-family: 'Roboto', Arial;
}

#chart-container {
    text-align: center;
}

#chart {
    display: inline-block;
    margin-top: 20px; /* Adjust margin as needed */
}

#map-heading {
    font-size: 2rem;
}